@font-face {
   font-family: 'Parastoo-Print-FD';
   font-display: swap;
   src: url('file:///C:/Users/Alidousti/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-16_224528/fonts/Parastoo-Print-FD/font.ttf');
}
